<h1>all jobs list</h1>
<table align="center" cellspacing="2" cellpadding="5" border="0">

<th>
	<td>Title</td>
	<td>Experience</td>
	<td>Salary</td>
	<td>Post</td>
	<td>Note</td>
	<td>Update</td>
</th>
<ul class="vacs">

  <% @vacs.each do |vac| %>
  <tr>  
     

      <td><%= vac.id %></td>
      <td><%= vac.title %></td>
      <td><%= vac.experience %></td>
      <td><%= vac.salary %></td>
      <td><%= vac.post %></td>
      <td><%= vac.note %></td>
      <td><%= vac.updated_at %></td>
      
      <% if  current_user.admin? %>
     <td><%= link_to "delete", vac_path(vac) , method: :delete,
                                  data: { confirm: "r you sure?" } %></td>
  		<% end %>
   <% end %>
   </tr>
  </table>

  